* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

button {
  border: none;
}

a { 
  text-decoration: none;
  color: inherit;
}

nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

footer {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: #f5f5f5;
}

main {
  background-color: #fff;
}

.AlignDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.table-wrapper {
  max-height: 500px;
  width: 45%;
  margin: 0 auto;
  overflow-y: auto;
}

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}

.money {
  font-size: 20px;
  font-weight: bold;
}

.money:hover {
  font-size: 22px;
  transition: 0.5s ease-in-out;
}

.buttonAddCart {
  background-color: #49be25 !important;
  color: #fff !important;
  padding: 0.5rem !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.buttonAddCart:hover {
  background-color: #3e8e3e !important;
  transition: 0.3s ease-in-out;
}

.buttonAddCart svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.div-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-info-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.div-info-details p {
  font-size: 23px;
}

.div-info-details h5 {
  font-size: 40px;
  font-weight: bold;
}

.div-info-details button {
  width: 85%;
  align-self: center;
  background-color: #49be25 !important;
  color: #fff !important;
  padding: 1.2rem !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  border-radius: 3px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.div-info-details button:hover {
  text-decoration: none !important;
  text-decoration-line: none !important;
  background-color: #3e8e3e !important;
  transition: 0.3s ease-in-out;
}

.img-details {
  margin: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.cartao {
  color: #434343;
  font-weight: bold;
  margin-bottom: 20px;
}

.info {
  font-size: 16px;
  font-weight: bold;
  color: #063970;
}

.info svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.align-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.cart {
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  padding: 0.6rem;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
  color: #434343;
  font-weight: bold;
}

.cart:hover {
  background-color: #434343;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border: 1px solid #434343;
}