* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a { 
  text-decoration: none;
  color: inherit;
}

nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

footer {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: #f5f5f5;
}

main {
  background-color: #fff;
}

.AlignDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.table-wrapper {
  max-height: 500px;
  width: 45%;
  margin: 0 auto;
  overflow-y: auto;
}

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}

.money {
  font-size: 20px;
  font-weight: bold;
}

.money:hover {
  font-size: 22px;
  transition: 0.5s ease-in-out;
}

.buttonAddCart {
  background-color: #49be25 !important;
  color: #fff !important;
  padding: 0.5rem !important;
  font-size: 16px;
  font-weight: bold;
  border: none !important;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.buttonAddCart:hover {
  background-color: #3e8e3e !important;
  transition: 0.3s ease-in-out;
}

.buttonAddCart svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}